h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
  position: relative;
  }
*{
  font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
  }
.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    justify-items: center;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  top:0;
  flex-direction: row;
  vertical-align: middle;
  text-align:center;  
}
header img {
  height: 70px;
}
nav{
  padding: 25px 0;    
  text-align: left;
  vertical-align: text-bottom;
  font-size: 14px;  
  display:flex;
  flex-wrap: nowrap;
  padding-left: 10px;
  justify-content: end;
}
nav li{
  display: inline;
  padding-right: 15px;
  font-size:18px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:focus{
  text-decoration: underline;
}
nav a:hover{
  text-decoration: underline;
  }
nav .current{
  background-color: #48A5D3;
  border: 2px black solid;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top: -40px;
  }
  .skip a:focus{
  position: absolute;
  top: 0px;
  }

.flip-card{
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
  }

  .flip-card-inner{
    position: relative;
    width:  100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner, .flip-card:focus-within .flip-card-inner, .flip-card:active .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
  }


  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-color: #E8DCB9;
    color: black;
  }

  .flip-card-back {
    background-color: #E8DCB9;
    color: #000000;
    font-size: 25px;
    line-height: 1.4em;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    flex-flow: column;
  }
  
  .symptoms{
   text-align: right;
   margin-top: 70px;
   margin-right: 90px;
  }

  .quickfacts{
    width: 30%;
    font-size: 25px;
    line-height: 1.4em;
    margin-left: 90px;
    margin-right: 90px;
    /* padding-left: 50px; */
  }
  .quickfacts h1{
    text-align: left;
    line-height: 1.2em;
  } 
  .symptoms img{
    width: 80%;
    /* margin-right: 70px; */
  }
  
  .boxes{
    display: flex;
    flex-flow: row wrap;
  }

  .boxes >* {
    flex: 1 40%;
  }
  .box {
    display: block;
    border: solid white;
    border-width: 0 10px;
    border-radius: 0;
    background: #48A5D3;
    color: white;
    font-size: 22px;
    font-weight: bolder;
    padding: 15px;
    width: 45%;
    margin-top: 50px;
    margin-left: -10px;
   }
   .box a{
     text-decoration: none;
     color: white;
     
   }
   .box:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   }

  .flip-card-back p {
    padding-left: 30px;
    padding-right: 30px;
  }
/* .homepage{

} */

  .homepage {
    display: flex;
    padding: 10px;
  }

  .homepage img >*{
    padding: 50px;
  }
  .const{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* .homepage2{
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: nowrap; */
  


    .homepage .btn {
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-75%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #FFFFFF;
      color: #48A5D3;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    .homepage .btn2{
      position: absolute;
      top: 50%;
      left: 28%;
      transform: translate(-75%, -50%);
      -ms-transform: translate(-50%, -50%);
      background-color: #407BFF;
      color: white;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    .data{
      margin-top: 50px;
      display: flex;
      padding: 10px;
      flex-direction: row;
    }

    .data .left{
      width: 50%;
      text-align: center
    }
    .data .right{ 
      width: 50%;
      text-align: center;
    }
    /* /* .butt
      padding-left: 30px;on{
      background-color: #407BFF;      margin-left: 50px;
    } */ */
